.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store
envVariables.ts
.vscode/.react/debuggerWorker.js
.vscode/.react/App.tsx.map
.vscode/launch.json
.vscode/.react/src%5CApp.tsx.bundle

# auth files
google-services.json
GoogleService-Info.plist

# webStorm ide
.idea/*
# Jest Test Coverage
coverage/\*\*/*

# Xcode
#

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace
android/.gradle/6.9/executionHistory/executionHistory.bin
android/.gradle/6.9/executionHistory/executionHistory.lock
android/.gradle/6.9/fileHashes/fileHashes.bin
android/.gradle/6.9/fileHashes/fileHashes.lock
android/.gradle/6.9/fileHashes/resourceHashesCache.bin
android/.gradle/6.9/javaCompile/classAnalysis.bin
android/.gradle/6.9/javaCompile/jarAnalysis.bin
android/.gradle/6.9/javaCompile/javaCompile.lock
android/.gradle/6.9/javaCompile/taskHistory.bin
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/buildOutputCleanup/outputFiles.bin
android/.gradle/checksums/checksums.lock
android/.gradle/checksums/md5-checksums.bin
android/.gradle/checksums/sha1-checksums.bin


# node.js
#
node_modules/
/node_modules
npm-debug.log
yarn-error.log

# Bundle artifact
*.jsbundle

# CocoaPods
/ios/Pods/
/iOS/Pods/
/ios/Pods 4*
/iOS/Pods 4*
