node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store
envVariables.ts
.vscode/.react/debuggerWorker.js
.vscode/.react/App.tsx.map
.vscode/launch.json
.vscode/.react/src%5CApp.tsx.bundle

# webStorm ide
.idea/*
# Jest Test Coverage
coverage/\*\*/*
