<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>135495017909-l87gcj62upj595dmdi5nqp6s3d6u1scj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135495017909-l87gcj62upj595dmdi5nqp6s3d6u1scj</string>
	<key>API_KEY</key>
	<string>AIzaSyCJU-iVbRiJUGAdfvVv89yyh2enlB86oEY</string>
	<key>GCM_SENDER_ID</key>
	<string>135495017909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.treemama.iseatree</string>
	<key>PROJECT_ID</key>
	<string>iseatree-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>iseatree-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135495017909:ios:054626c2a22ef3501ba5fc</string>
	<key>DATABASE_URL</key>
	<string>https://iseatree-dev.firebaseio.com</string>
</dict>
</plist>